p{padding:0;margin:0;}
input{font-family:Calibri;}
textarea{font-family:Calibri;}
.form_title{margin-left:5px;}
.close{right:8px;left:auto;}
.rightToLeft .form_title{margin-left:0;margin-right:5px;}
.rightToLeft .close{left:8px;right:auto;}

.about_win10{text-align:left;vertical-align:middle;line-height:20px;width:522px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;position:absolute;}
.about_win10 .form_title{font-size:15px;line-height:25px;}
.about_win10 .close{top:7px;position:absolute;cursor:pointer;}
.about_win10 .about_content{position:relative;background-color:rgba(255,255,255,0.2);width:488px;padding:17px 17px 10px 17px;}
.about_win10 .content2{position:relative;}
.about_win10 .content1{position:relative;}

.about_win10 .item{position:relative;margin:15px 0;min-height:18px;text-align:left;}
.about_win10 .item .title{display:inline-block;position:absolute;left:0;top:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.about_win10 .content2 .item .content{margin:0;width:auto;}
.about_win10 .content1 .item .content{margin:0 0 0 60px;width:auto;}
.about_win10 a{color:#1a7fc7;text-decoration:none;}
.about_win10 .description{margin:0;}
.about_win10 .description .content{margin:0;}

.about_win10 .logo{width:90px;position:absolute;left:0;}
.about_win10 .stage{overflow:hidden;width:488;height:109px;position:relative;}
.about_win10 .swiper{width:100%;position:absolute;left:0;top:0;}

.about_win10 .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.about_win10 .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.about_win10.rightToLeft{text-align:right;}
.about_win10.rightToLeft .item .title{position:absolute;left:auto;top:0;right:0;text-align:right;}
.about_win10.rightToLeft .content2 .item .content{margin:0;text-align:right;}
.about_win10.rightToLeft .content1 .item .content{margin:0 60px 0 0;text-align:right;}



.color_panel{display:none;z-index:9999;width:202px;background-color:#ffffff;position:absolute;}
.color_panel tr{position:relative;}
.color_panel td{width:14px;height:14px;position:relative;}


.colorSelection{width:25px;height:25px;cursor:pointer;border-width:2px;padding:0;}

.bookmark_win10{position:absolute;display:block;z-index:1000;left:-280px;top:157px;width:270px;height:470px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;}
.bookmark_win10 .form_title{font-size:15px;line-height:25px;}
.bookmark_win10 .close{top:7px;position:absolute;cursor:pointer;}
.bookmark_win10 .bookmark_content{position:relative;background-color:rgba(255,255,255,0.2);width:250px;height:425px;padding:10px;}

.bookmark_win10 .inputForm{width:100%;height:23px;position:relative;}
.bookmark_win10 .input_title{width:200px;height:23px;border:none;padding:0 10px;position:absolute;left:0;}
.bookmark_win10 .colorSelection{width:24px;height:23px;border:none;position:absolute;right:0;}
.bookmark_win10 .add_page{display:inline-block;vertical-align:middle;text-align:center;cursor:pointer;width:120px;height:26px;line-height:26px;margin-top:10px;background:rgba(255,255,255,0.25);}
.bookmark_win10 .add_page.left{margin-right:10px;}
.bookmark_win10 .list_title{cursor:default;font-size:12px;height:26px;width:100%;margin-top:20px;background:rgba(255,255,255,0.1);line-height:26px;vertical-align:middle;text-align:left;}
.bookmark_win10 .list_title span{padding:0 10px;display:inline-block;}
.bookmark_win10 .list_title .page{border-right:1px solid rgba(255,255,255,0.1);width:30px;}
.bookmark_win10 .list_title .description{width:120px;border-right:1px solid rgba(255,255,255,0.1);}
.bookmark_win10 .list_title .edit{}

.bookmark_win10 .stage{overflow:hidden;width:100%;position:relative;}
.bookmark_win10 .swiper{width:100%;left:0;top:0;}

.bookmark_win10 .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.bookmark_win10 .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.bookmark_win10 .removeAll{margin:8px 0;width:100%;height:26px;line-height:26px;background:rgba(255,255,255,0.25);cursor:pointer;vertical-align:middle;text-align:center;display:none;}

.bookmark_win10 .item{width:100%;height:26px;line-height:26px;vertical-align:middle;text-align:left;position:relative;margin-top:5px;}
.bookmark_win10 .item span{padding:0 10px;display:inline-block;}
.bookmark_win10 .item input{display:inline-block;}
.bookmark_win10 .item .page{width:30px;}
.bookmark_win10 .item .title{width:100px;height:20px;border:none;padding:0 10px;background:transparent;}
.bookmark_win10 .item .colorSelection{margin:0;width:20px;height:18px;position:absolute;left:149px;top:4px;display:none;}
.bookmark_win10 .item img{position:absolute;cursor:pointer;}
.bookmark_win10 .item .save{left:174px;top:4px;display:none;}
.bookmark_win10 .item .cancel{left:194px;top:4px;display:none;}
.bookmark_win10 .item .edit{left:194px;top:4px;}
.bookmark_win10 .item .delete{left:218px;top:4px;}
.bookmark_win10 .item.bookmarkItem_focus{background:rgba(255,255,255,0.25)}

.bookmark_win10.rightToLeft{text-align:right;}
.bookmark_win10.rightToLeft .input_title{left:auto;right:0;direction:rtl;}
.bookmark_win10.rightToLeft .colorSelection{right:auto;left:0;}
.bookmark_win10.rightToLeft .list_title{text-align:right;}
.bookmark_win10.rightToLeft .list_title .page{border-left:1px solid rgba(255,255,255,0.1);border-right:none;width:30px;}
.bookmark_win10.rightToLeft .list_title .description{width:120px;border-left:1px solid rgba(255,255,255,0.1);border-right:none;}
.bookmark_win10.rightToLeft .list_title .edit{}
.bookmark_win10.rightToLeft .progress{left:0;right:auto;}
.bookmark_win10.rightToLeft .progressBar{left:0;right:auto;}

.bookmark_win10.rightToLeft .item{text-align:right;}
.bookmark_win10.rightToLeft .item .title{direction:rtl;}
.bookmark_win10.rightToLeft .item .colorSelection{right:149px;left:auto;}
.bookmark_win10.rightToLeft .item .save{right:174px;left:auto;}
.bookmark_win10.rightToLeft .item .cancel{right:194px;left:auto;}
.bookmark_win10.rightToLeft .item .edit{right:194px;left:auto;}
.bookmark_win10.rightToLeft .item .delete{right:218px;left:auto;}

.bookmark_win10.phone{background:transparent;width:100%;height:100%;padding:0;left:0;top:0;margin:0;}
.bookmark_win10.phone .stage{margin:0;width:100%;height:100%;}
.bookmark_win10.phone .item{position:relative;width:100%;height:100px;line-height:100px;vertical-align:middle;font-size:15px;cursor:pointer;}
.bookmark_win10.phone .item span{margin:0 10px;float:left;display:inline-block;width:auto;}
.bookmark_win10.phone .item img{height:76px;float:left;margin:12px 0;position:relative;}
.bookmark_win10.phone .item .delete{position:absolute;cursor:pointer;top:30px;left:auto;right:10px;width:41px;height:41px;background-position:-402px -429px;background-image: url(phoneIcon/phone_icon.png);background-repeat: no-repeat;}
.bookmark_win10.phone .item .delete:hover{background-position:-462px -429px;}

/*.bookmark_win10 .close{transition: all 500ms;
-moz-transition: all 500ms;
-webkit-transition: all 500ms;
-o-transition: all 500ms;}

.bookmark_win10 .close:hover{
transform:rotate(360deg);
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg); }*/


.help_win10{text-align:left;vertical-align:middle;line-height:20px;position:absolute;left:0;top:0;z-index:1000;width:380px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:15px;font-family:Calibri;}
.help_win10 .form_title{font-size:15px;line-height:25px;}
.help_win10 .close{top:7px;position:absolute;cursor:pointer;}
.help_win10 .help_content{text-align:center;position:relative;background-color:rgba(255,255,255,0.2);width:346px;padding:17px 17px 10px 17px;}
.help_win10 .logo{text-align:center;margin:10px;max-width:380px;max-height:200px;}
.help_win10 .description{margin:10px;}

.help_win10.rightToLeft{text-align:right;}


.pictureList_win10{width:150px;height:196px;position:absolute;left:0;}
.pictureList_win10 .thumbnail .page{width:100%;height:20px;line-height:20px;}
.pictureList_win10 .thumbnail img{vertical-align:middle;width:100%;}
.pictureList_win10 .btn{position:absolute;top:0;bottom:0;width:22px;height:22px;cursor:pointer;margin:auto;z-index:3;}
.pictureList_win10 .leftBtn{left:0;}
.pictureList_win10 .rightBtn{right:0;}

.pictureList_win10{left:0;text-align:center;vertical-align:middle;}
.pictureList_win10 .thumbnail{width:100%;position:relative;display:inline-block;left:0;top:0;text-align:center;vertical-align:middle;}
.pictureList_win10:after{content:""; display:inline-block; height:100%;vertical-align:middle;}



.print_win10{text-align:left;vertical-align:middle;line-height:20px;position:absolute;border-radius:5px;left:0;top:0;z-index:1000;width:398px;background:#000000;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;}
.print_win10 .form_title{font-size:15px;line-height:25px;}
.print_win10 .close{top:7px;position:absolute;cursor:pointer;}
.print_win10 .content{position:relative;background-color:rgba(255,255,255,0.2);width:237px;padding:10px 10px 10px 151px;}

.print_win10 .printDiv{border-left:1px solid rgba(255,255,255,0.1);width:227px;padding:10px;}
.print_win10 .printButton{cursor:pointer;width:100%;height:26px;margin:20px 0;background:rgba(255,255,255,0.25);line-height:26px;vertical-align: middle;text-align:center;}
.print_win10 .item{cursor:pointer;margin:10px 0;line-height:26px;vertical-align: middle;position:relative;padding:0 0 0 20px;}
.print_win10 .item span{margin-left:10px;}
.print_win10 .item img{vertical-align: middle;position:absolute;left:4px;top:6px;}
.print_win10 .printRange input{padding:0 5px;width:100px;height:26px;border:none;margin-left:10px;font-size:12px;}

.print_win10.rightToLeft{text-align:right;}
.print_win10.rightToLeft .item{padding:0;}
.print_win10.rightToLeft .item img{left:auto;right:4px;}
.print_win10.rightToLeft .item span{margin:0 30px 0 0;}
.print_win10.rightToLeft .printRange input{margin:0 10px 0 0;}

.print_win10.phone{background:transparent;width:100%;padding:0;}
.print_win10.phone .item{margin:10px;}
.print_win10 .printButton{margin:20px 0;width:auto;}


/*scrollbar*/
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}



.search_win10{z-index:1000;left:-300px;top:0;width:287px;height:548px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;position:absolute;}
.search_win10 .form_title{font-size:15px;line-height:25px;}
.search_win10 .close{top:7px;position:absolute;cursor:pointer;}
.search_win10 .search_content{position:relative;background-color:rgba(255,255,255,0.2);width:100%;}

.search_win10 .input_search{width:227px;height:30px;border:none;padding:0 30px 0 10px;margin:18px 0 0 10px;}
.search_win10 .searchButton{position:absolute;top:22px;right:15px;cursor:pointer;z-index:10;}
.search_win10 .result{padding:0 10px;height:40px;vertical-align:middle;line-height:40px;border-bottom:1px solid rgba(255,255,255,0.1);}

.search_win10 .stage{overflow:hidden;width:100%;height:577px;position:relative;}
.search_win10 .swiper{width:100%;position:absolute;left:0;top:0;}

.search_win10 .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.search_win10 .progressBar{width:5px;height:5px;opacity:0.25;background:#ffffff;position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.search_win10 .item{padding:10px 12px;cursor:pointer;}
.search_win10 .item .description{font-size:12px;margin-top:3px;opacity:0.6;}
.search_win10 .item:hover{background:rgba(255,255,255,0.25);}

.search_win10.rightToLeft{text-align:right;}
.search_win10.rightToLeft .input_search{direction:rtl;padding:0 10px 0 30px;margin:18px 10px 0 0;}
.search_win10.rightToLeft .searchButton{left:15px;right:auto;}
.search_win10.rightToLeft .progress{left:0;right:auto;}

.search_win10.phone{border-top:1px solid rgba(255,255,255,0.25);width:100%;height:100%;padding:0;left:0;top:0;background:transparent;}
.search_win10.phone .input_search{border-radius:12px;margin:20px 15px;height:20px;line-height:20px;padding:0 25px 0 5px;width:275px;background:transparent;border:1px solid transparent;}
.search_win10.phone .result{margin:0;height:25px;line-height:25px;background:rgba(255,255,255,0.05);padding:0 10px;}
.search_win10.phone .stage{width:100%;position:relative;margin:0;}
.search_win10.phone .searchButton{width:15px;height:15px;right:25px;top:24px;}
.search_win10.phone .searchButton div{width:100%;height:100%;}
.search_win10.rightToLeft.phone .searchButton{left:25px;top:24px;right:auto;}
.search_win10.rightToLeft.phone .input_search{padding:0 5px 0 25px;}

.phone_scroll_y{overflow-y:auto,overflow-x:hidden,-webkit-overflow-scrolling:touch;}


.share_win10{text-align:left;vertical-align:middle;line-height:20px;z-index:1000;left:0;top:0;width:416px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;position:absolute;}
.share_win10 .form_title{font-size:15px;line-height:25px;}
.share_win10 .close{top:7px;position:absolute;cursor:pointer;}
.share_win10 .share_content{position:relative;background-color:rgba(255,255,255,0.2);width:388px;padding:14px;}
.share_win10 .content2{position:relative;display:none;height:170px;overflow:auto;}
.share_win10 .content1{position:relative;height:170px;overflow:auto;}
.share_win10 .content2 p{margin-top:10px;}

.share_win10 .title_list{width:100%;border-bottom:1px solid rgba(255,255,255,0.1);line-height:28px;}
.share_win10 .title_list span{display:inline-block;margin:0 5px;padding:0 5px;cursor:pointer;}
.share_win10 .title_list .focus{border-bottom:2px solid #ffffff;}

.share_win10 .link_title{margin-top:10px;line-height:20px;}
.share_win10 .link_input{width:299px;height:30px;padding:0 10px;border:none;}
.share_win10 .copy{width:60px;height:28px;cursor:pointer;background:rgba(255,255,255,0.25);position:absolute;right:0;top:30px;line-height:30px;vertical-align:middle;text-align:center;}
.share_win10 .insert_input{width:364px;height:73px;padding:10px;border:none;resize:none;}
.share_win10 .copy2{bottom:5px;top:auto;}
.share_win10 .sharePanel{width:100%;height:30px;margin-top:8px;}
.share_win10 .sharePanel img{height:30px;margin:0 2px 0 0;border:none;}

.share_win10 p{line-height:20px;}

.share_win10.rightToLeft{text-align:right;}
.share_win10.rightToLeft .copy{left:0;right:auto;}

.share_win10.phone{background:transparent;width:100%;height:100%;padding:0;}
.share_win10.phone .stage{overflow:hidden;width:100%;height:100%;position:relative;}
.share_win10.phone .swiper{width:100%;left:0;top:0;}
.share_win10.phone .progress{left:0;right:auto;}
.share_win10.phone .progressBar{left:0;right:auto;}

.share_win10.phone .item{padding:10px;vertical-align:middle;font-size:15px;line-height:50px;height:50px;font-weight:bold;position:relative;}
.share_win10.phone .item .logo{width:50px;height:50px;display:inline-block;float:left;}
.share_win10.phone .item .logo div{width:50px;height:50px;}
.share_win10.phone .item span{margin-left:20px;float:left;}



.tableofcontent_win10{position:absolute;z-index:1000;left:-300px;top:150px;width:286px;height:548px;background:#000000;border-radius:5px;padding:5px;color:#ffffff;font-size:12px;font-family:Calibri;}
.tableofcontent_win10 .form_title{font-size:15px;line-height:25px;}
.tableofcontent_win10 .close{top:7px;position:absolute;cursor:pointer;}
.tableofcontent_win10 .tableofcontent_content{position:relative;background-color:rgba(255,255,255,0.2);width:100%;}

.tableofcontent_win10 .stage{overflow:hidden;width:100%;height:522px;position:relative;}
.tableofcontent_win10 .swiper{width:100%;position:absolute;left:0;top:0;}

.tableofcontent_win10 .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.tableofcontent_win10 .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.tableofcontent_win10 .item{padding:7px 12px;font-size:12px;cursor:pointer;margin-bottom:5px;position:relative;}
.tableofcontent_win10 .item .arrow{padding:5px;position:absolute;top:2px}
.tableofcontent_win10 .item .description{padding:3px 0;display:inline-block;}
.tableofcontent_win10 .item img{vertical-align:middle;}
.tableofcontent_win10 .item:hover{background:rgba(255,255,255,0.1);}

.tableofcontent_win10.rightToLeft{text-align:right;}
.tableofcontent_win10.rightToLeft .progress{left:0;right:auto;}
.tableofcontent_win10.rightToLeft .progressBar{left:0;right:auto;}

.tableofcontent_win10.phone{background:transparent;width:100%;height:100%;padding:0;left:0;top:0;margin:0;}
.tableofcontent_win10.phone .stage{margin:0;width:100%;height:100%;}


.thumbBar {
  position: absolute;
  z-index: 100;
}
.outThumbBG{
  position: absolute;
  overflow: hidden;
  /*background-color: #000000;*/
  /*opacity: 0.9;*/
}
.thumbBG {
  position: absolute;
  /*background-color: #000000;*/
  /*opacity: 0.9;*/
}

.thumbBox {
  position: absolute;
}

.thumbItem {
  position: absolute;
}

.numbering {
  position: absolute;
}

.numberingText{
  position: absolute;
}
.numberingText:after{
  top: 100%;
  border: 10px solid transparent;
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}
.numberingText:after{
  border-top-color: #eee;
  border-width: 4px;
  left: 50%;
  margin-left: -4px;
  opacity: 0.9;
}

.dock {
	display: block;
	margin: 0px auto;
	bottom: 0px;
	/*width: 100%;*/
	text-align: center;
	position: absolute;
	/*overflow: hidden;*/
	/*background:#ffff00;*/
}

.linea {
	display: inline-block;
	/*vertical-align: bottom;*/
	margin: 0px;
	padding: 0px;
	position: relative;
	/*overflow: visible;*/
}

.linea img {
	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.3)));
	-moz-box-reflect: below 1px -moz-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.3)));
}


.fbTopBar{
  position: absolute;
  overflow: hidden;
  z-index: 99;


	top: 0px;
	left: 0px;
	right: 0px;

	height: 46px;

	border-radius: 0px 0px 5px 5px;
}

.pageBar{
	position: absolute;
	height:100%;
	left: 0px;
	right: auto;
	z-index: 3;
}

.pageNumber{
	position : absolute;
}

.pageNumber input{
	border-width : 0px;
	text-align : center;
	vertical-align : middle;
	height:18px;
	border-radius:3px;
	font-family : Arial;
}

.pageNumber input:focus{
	outline:none;
}

.logoBar{
	position: absolute;
	left:0px;
	top:0px;
	width:0px;
	height:100%;
	z-index : 1;
}

.searchBar{
	position: absolute;
	background-color:#BBBBBB;
	vertical-align:middle;
	border-radius:3px;
	right:10px;
	left: auto;
	top:10px;
	z-index: 2;
}

.searchBar div{
	position : relative;
	float:left;
	display:inline;
}

.preSearch{
	height:18px;
	border-width:0px;
	margin-left:5px;
	margin-top:3px;
	background-color:#BBBBBB;
	vertical-align:middle;
	font-family : Arial;
}

.preSearch:focus{
	outline:none;
}

.pageBar .button {
	position:absolute;
	width : 30px;
	height : 30px;
	border-radius:3px;
}

.pageBar .button img {
	margin-left : 4px;
	margin-top : 4px;
}

.button span{
	font-family : "Tahoma","sans-serif","Arial";
	font-size : 12px;
}

.searchBar .button span, .pageBar .button span{
	display:none;
}

.searchBar .button{
	position : relative;
	display:inline;
	float:right;
	width : 26px;
	height : 26px;
}

.searchBar .button img{
	margin-left : 3px;
	margin-top : 3px;
}

.extendedBar{
	overflow : hidden;
	position : absolute;
	border-radius: 5px;
	z-index: 100;
}

.extendedBar .button{
	position:absolute;
	width : 150px;
	height : 30px;
	border-radius:3px;
}

.extendedBar .button img{
	float : left;
	margin-left : 4px;
	margin-top : 4px;
}

.extendedBar .button span{
	position:absolute;
	margin-left:12px;
	margin-top : 8px;
}

.extendedBar.rtl .button img{
	float : right;
	margin-right : 4px;
	margin-top : 4px;
}

.extendedBar.rtl .button span{
	position:absolute;
	right : 0px;
	margin-right:32px;
	margin-top : 8px;
}



.thumbnail_win10{text-align:center;position:absolute;z-index:1000;bottom:10px;width:90%;left:5%;height:116px;background:transparent;color:#ffffff;font-size:12px;font-family:Calibri;}
.thumbnail_win10 .close{top:-24px;position:absolute;cursor:pointer;width:32px;height:24px;background-color:#000000;background-repeat:no-repeat;background-position:center center;}

.thumbnail_win10 .stage{overflow:hidden;height:80px;margin:0 30px;position:relative;}
.thumbnail_win10 .swiper{position:absolute;top:0;height:80px;}

.thumbnail_win10 .progress{display:none;width:0;height:0;position:absolute;bottom:7px;right:0;cursor:pointer;}
.thumbnail_win10 .progressBar{width:0;height:0;background:rgba(255,255,255,0.25);position:absolute;top:0;left:0;cursor:pointer;border-radius:4px;}

.thumbnail_win10 .item_focus{box-sizing:border-box;display:inline-block;height:80px;cursor:pointer;position:absolute;}
.thumbnail_win10 .title{box-sizing:border-box;border:1px solid #ffffff;display:none;z-index:10;width:100%;height:80px;line-height:80px;background:rgba(0,0,0,0.5);vertical-align:middle;position:absolute;width:100%;bottom:0;left:0;text-align:center;}
.thumbnail_win10 .item{height:80px;position:absolute;box-sizing:border-box;overflow:hidden;}
.thumbnail_win10 .item img{height:80px;pointer-events:none;}
.thumbnail_win10 .highlight.focus{border:2px solid #016BAF;overflow:hidden;}
.thumbnail_win10 .highlight.focus .title{border:none;}
.thumbnail_win10 .item_focus.focus:hover div.title{display:block;}
.thumbnail_win10 .item.focus:hover p.title{display:block;}
.thumbnail_win10 .title{pointer-events:none;}

.thumbnail_win10 .pageCaption{cursor:default;margin-top:15px;display:inline-block;line-height:20px;padding:0 20px;border-radius:10px;background:rgba(0,0,0,0.5);}

.thumbnail_win10 .btn{position:absolute;top:14px;cursor:pointer;}
.thumbnail_win10 .leftBtn{left:0;}
.thumbnail_win10 .rightBtn{right:0;}


.videoGallery_win10{text-align:left;vertical-align:middle;line-height:20px;position:absolute;z-index:1000;color:#ffffff;margin:auto;width:570px;background:#000000;border-radius:5px;padding:5px;font-size:12px;font-family:Calibri;position:absolute;overflow:hidden;}
.videoGallery_win10 .title{font-size:15px;line-height:25px;}
.videoGallery_win10 .form_title{font-size:15px;line-height:25px;}
.videoGallery_win10 .close{top:7px;position:absolute;cursor:pointer;}
.videoGallery_win10 .videoGallery_content{position:relative;background-color:rgba(255,255,255,0.2);width:550px;padding:10px;}

.videoGallery_win10 .video{width:315px;height:223px;background:rgba(255,255,255,0.25);margin-top:0;}
.videoGallery_win10 .video_list{width:222px;height:223px;position:absolute;right:0;top:10px;}
.videoGallery_win10 .info{margin-top:15px;}
.videoGallery_win10 .info .description{width:100%;}
.videoGallery_win10 .description{opacity:0.6;}

.videoGallery_win10 .stage{overflow:hidden;width:100%;height:223px;position:relative;}
.videoGallery_win10 .swiper{width:100%;position:absolute;left:0;top:0;}

.videoGallery_win10 .progress{width:15px;height:5px;position:absolute;bottom:0;right:-5px;cursor:pointer;}
.videoGallery_win10 .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:5px;top:0;cursor:pointer;border-radius:2px;}

.videoGallery_win10 .item{cursor:pointer;width:156px;padding-left:61px;min-height:42px;margin-bottom:5px;position:relative;}
.videoGallery_win10 .item .title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.videoGallery_win10 .item .thumbnail{background-color:rgba(255,255,255,0.25);width:56px;height:42px;position:absolute;top:2px;;left:0;background-position:center center;background-size:contain;background-repeat:no-repeat;}
.videoGallery_win10 .item:hover {text-decoration:underline;}

.videoGallery_win10.rightToLeft{text-align:right;}
.videoGallery_win10.rightToLeft .video_list{left:15px;right:auto;}
.videoGallery_win10.rightToLeft .item{padding-right:61px;padding-left:0;margin-left:5px;}
.videoGallery_win10.rightToLeft .item .thumbnail{left:auto;right:0;}
.videoGallery_win10.rightToLeft .progress{left:-5px;right:auto;}

.appear_win10{position:absolute;opacity:0;z-index:1001;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);text-align:center;vertical-align:middle;}
.appear_win10 .main_dom{position:relative;display:inline-block;left:0;top:0;}
.appear_win10:after{content:""; display:inline-block; height:100%;vertical-align:middle;}

.button_hover:hover{opacity:0.7;filter:alpha(opacity=40);}
.button_hover:active{opacity:0.2;filter:alpha(opacity=20);}

.disable{opacity:0.2;filter:alpha(opacity=20);}
.usable{opacity:1;filter:alpha(opacity=100);}


.phoneTopBar{position : absolute;width : 100%;height : 40px;left : 0;top : 0;z-index : 99;-webkit-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);-moz-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);-o-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);}
.phoneTopBar .button{width : 40px;height : 40px;position : absolute;cursor:pointer;}
.phoneTopBar .button img{max-height : 40px;position : absolute;top:0;bottom:0;margin:auto;}
.phoneTopBar .button .icon{position : absolute;left : 8px;top : 8px;}
.phoneTopBar .button div{width : 25px;height : 25px;}
.phoneTopBar .button span{display:none;}

.phoneBottomBar{position : absolute;width : 100%;height : 40px;bottom : 0;left : 0;z-index : 99;-webkit-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);-moz-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);-o-box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);box-shadow : 0 0 5px rgba(40, 0, 0, 0.5);}
.phoneBottomBar .button{width : 40px;height : 40px;position : absolute;cursor:pointer;}
.phoneBottomBar .button img{max-height : 40px;position : absolute;top:0;bottom:0;margin:auto;}
.phoneBottomBar .button .icon{position : absolute;left : 8px;top : 8px;}
.phoneBottomBar .button div{width : 25px;height : 25px;}
.phoneBottomBar .button span{display:none;}

.phone.extendedBar .arrow{position:absolute;width:0;height:0;border-width:7px;border-style:solid;left:50%;margin-left:-7px;bottom:-14px;}

.extendedBar.phone{overflow : hidden;position : absolute;z-index: 100;}
.extendedBar.phone .button{position : absolute;width : 150px;height : 40px;overflow : hidden;}
.extendedBar.phone .button:hover {background: rgba(255,255,255, 0.2);}
.extendedBar.phone .button .icon{position : absolute;left : 7px;top : 7px;width:25px;height:25px;}
.extendedBar.phone .button .icon div{width : 25px;height : 25px;}
.extendedBar.phone .button span{position:absolute;color : white;margin-left:40px;margin-top : 0;line-height:40px;display:block;}

.extendedBar.phone.rtl .button img {float : right;margin-right : 7px;margin-top : 7px;}
.extendedBar.phone.rtl .button span{position:absolute;color : white;right : 0px;margin-right:42px;margin-top : 12px;}

.phoneGotoPageContent img{
	width : 25px;
	height : 25px;
	cursor : pointer;
}

.phoneGotoPageContent .inputButton{
	display : inline-block;
	position : relative;
	overflow : visible;
	margin-top : 12px;
	margin-left : 7px;
	width : 25px;
	height : 25px;
	cursor : pointer;
	border:1px solid rgba(255,255,255,0.1);
}

.phoneGotoPageContent .goBtn div{
	width : 20px;
	height : 20px;
	margin:4px;
}


.phoneGotoPageContent .btn{
	display : inline-block;
	position : relative;
	overflow : visible;
	margin-top : 12px;
	margin-left : 7px;
	width : 25px;
	height : 25px;
	cursor : pointer;
	border:1px solid rgba(255,255,255,0.1);
}

.phoneGotoPageContent .btn div{
	width : 25px;
	height : 25px;
}

.phoneGotoPageContent .goBtn{
	width : 25px;
	height : 25px;
	top : 0;
	right : 0px;
	cursor : pointer;
    z-index : 5;
    position:absolute;
}

.form_mask_phone{opacity:0.5;background:#000000;z-index:9999;position:absolute;width:100%;height:100%;top:0;left:0;}

.print_win10.phone{background:transparent;width:100%;padding:0;border-radius: 0;}
.print_win10.phone .item{cursor:pointer;line-height:26px;vertical-align: middle;position:relative;padding:10px 20px 10px;margin:0 15px;border-bottom: 1px solid rgba(255,255,255,0.2);}
.print_win10.phone .item img{vertical-align: middle;position:absolute;left:10px;top:14px;width:20px;}
.print_win10.rightToLeft .item img{vertical-align: middle;position:absolute;right:10px;left:auto;top:16px;}
.print_win10.phone .form_title{font-family:"Arial";font-size:15px;line-height:36px; padding: 0 15px;margin:0; margin-bottom: 10px;}
.print_win10.phone.rightToLeft .form_title{text-align: right;}
.print_win10 .printRange input{padding:0 5px;width:100px;height:26px;border:none;margin-left:10px;font-size:12px;background-color:#D3D3D3; }
.print_win10.phone .item span{margin-left:20px;}
.print_win10.phone .close{top:6px;position:absolute;cursor:pointer;left:auto;right:10px;}
.print_win10.phone.rightToLeft .close{top:6px;position:absolute;cursor:pointer;left:10px;}
.print_win10.phone .printButton{margin:15px;width:auto;height: 36px;line-height:36px;font-size: 20px;}

.bookmark_win10.phone{background:transparent;width:100%;height:100%;padding:0;left:0;top:0;margin:0;border-radius: 0;}
.bookmark_win10.phone .stage{margin:0;width:100%;height:100%;}
.bookmark_win10.phone .form_title{font-family:"Arial";margin:0;padding:0 15px;line-height: 36px;}
.bookmark_win10.phone .close{position: absolute;right:10px;left:auto;top:6px;cursor: pointer;}
.bookmark_win10.phone.rightToLeft .close{position: absolute;left:10px;right:auto;top:6px;cursor: pointer;}
.bookmark_win10.phone .item{position:relative;width:100%;height:100px;line-height:100px;vertical-align:middle;font-size:15px;cursor:pointer;}
.bookmark_win10.phone .item span{margin:0 10px;float:left;display:inline-block;width:auto;}
.bookmark_win10.phone .item img{height:76px;float:left;margin:12px 0;position:relative;}
.bookmark_win10.phone.rightToLeft .item img{height:76px;float:left;margin:12px 0;position:relative;}
.bookmark_win10.phone .item .delete{position:absolute;cursor:pointer;top:30px;left:auto;right:15px;width:41px;height:41px;background-position:-402px -429px;background-image: url(phoneIcon/phone_icon.png);background-repeat: no-repeat;}
.bookmark_win10.phone .item .delete:hover{background-position:-462px -429px;}

.search_win10.phone{border-top:1px solid rgba(255,255,255,0.25);width:100%;height:100%;padding:0;left:0;top:0;background:transparent;border-radius:0;}
.search_win10.phone .form_title{font-family:"Arial";line-height:36px;margin:0 15px;}
.search_win10.phone  .close{position: absolute;right:10px;left:auto;top:6px;cursor: pointer;}
.search_win10.phone.rightToLeft .close{position: absolute;left:10px;right:auto;top:6px;cursor: pointer;}
.search_win10.phone .input_search{background-color:#fff;border-radius:5px;margin:10px 14px 20px;height:30px;line-height:30px;padding:0 25px 0 5px;width:275px;border:1px solid transparent;}
.search_win10.phone .result{margin:0;height:25px;line-height:25px;background:rgba(255,255,255,0.05);padding:0 10px;}
.search_win10.phone .stage{width:100%;position:relative;margin:0;}
.search_win10.phone .searchButton{width:15px;height:15px;right:25px;top:55px;}
.search_win10.phone .searchButton div{width:100%;height:100%;}
.search_win10.rightToLeft.phone .searchButton{left:25px;top:55px;right:auto;}
.search_win10.rightToLeft.phone .input_search{padding:0 5px 0 25px;}

.share_win10.phone{border-radius: 0;}
.share_win10.phone .item{padding:0;vertical-align:middle;font-size:15px;font-weight:bold;position:relative;display: inline-block;width: 20%; margin-left: 10%; margin-bottom: 30px;text-align: center;}
.share_win10.phone.rightToLeft  .item{padding:0;vertical-align:middle;font-size:15px;font-weight:bold;position:relative;display: inline-block;width: 20%;margin-left: 0; margin-right: 10%; margin-bottom: 30px;text-align: center;}
.share_win10.phone .item .logo{width:40px;height:40px;margin:0 auto;display:block;float: none;}
.share_win10.phone .item .logo_title{line-height: 30px;}
.share_win10.phone .form_title{background:transparent; width:auto;font-family:"Arial";font-size:15px;line-height:36px;position: relative;padding:0 15px;margin:0;margin-bottom: 20px;}
.share_win10.phone .item .logo div{width:40px;height:40px;}
.share_win10.phone .copy{width:74%;height:30px;line-height:30px;cursor:pointer;background:rgba(255,255,255,0.4);color:#fff;position:absolute;top:320px;left:12%;right:auto;vertical-align:middle;text-align:center;}
.share_win10.phone.rightToLeft .form_title{right:auto;text-align:right;font-size:15px;line-height:36px;}
.share_win10.phone .close{top:6px;left:auto;right:10px;position:absolute;cursor:pointer;}
.share_win10.phone.rightToLeft .close{top:6px;position:absolute;cursor:pointer;right:auto;left:10px;}


.tableofcontent_win10.phone{background:transparent;width:100%;height:100%;padding:0;left:0;top:0;margin:0;border-radius:0;}
.tableofcontent_win10.phone .stage{margin:0;width:100%;height:100%; padding:0;}
.tableofcontent_win10.phone .form_title{font-family:"Arial";line-height: 36px;padding: 0 15px;margin:0;}
.tableofcontent_win10.phone .close{position: absolute;right:10px;left:auto;top:6px;}
.tableofcontent_win10.phone.rightToLeft .close{position: absolute;left:10px;right:auto;top:6px;}

.print_win10.phone .printButton{margin:15px;width:auto;height: 36px;line-height:36px;font-size: 20px;}


