<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <!-- specific file -->
    <meta property="og:image" content="/files/shot.jpg"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{title}}"/>
    <meta name="og:image" content="/files/shot.jpg"/>
    <link rel="image_src" href="/files/shot.jpg"/>
    <meta name="description" content="{{title}}">
    <!-- /specific file -->
    <meta name="keywords" content="">

    <title><label th:text="${title}"/></title>

    <style type="text/css">
            html {
                height: 100%;
                width: 100%;
            }
        </style>

    <link rel="stylesheet" href="/style/phoneTemplate.css"/>
    <link rel="stylesheet" href="/style/style.css"/>
    <link rel="stylesheet" href="/style/player.css"/>
    <script src="/javascript/jquery-1.9.1.min.js"></script>
</head>

<body>
<!-- specific file -->
<script src="/files/config.js"></script>
<!-- /specific file -->

<script src="/javascript/LoadingJS.js"></script>
<script src='/javascript/main.js'></script>

<!-- specific file -->
<script src="/files/search/book_config.js"></script>
<!-- /specific file -->

<script type="text/javascript">
            var textForPages = [];
            var positionForPages = [];
        </script>
<link rel="stylesheet" href="/style/template.css"/>
<script type="text/javascript">
            var sendvisitinfo;
            $(document).ready(function () {
                sendvisitinfo = function () {
                };
            });

        </script>
<script src="/javascript/flipHtml5.hiSlider2.min.js"></script>
<link rel="stylesheet" href="/style/hiSlider2.min.css"/>
<script src="/javascript/MovingBackgrounds.min.js"></script>
<link rel="stylesheet" href="/style/MovingBackgrounds.min.css"/>
<script src="/javascript/FlipBookPlugins.min.js"></script>
<link rel="stylesheet" href="/style/FlipBookPlugins.min.css"/>
<script src="/slide_javascript/slideJS.js"></script>
<div>
    <label th:text="${body}"/>
</div>
</body>
</html>
